# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# VSCode settings (optional, if you're using VSCode)
.vscode/

# MacOS system files
.DS_Store

# Virtual environments
venv/
.env/

# Python cache files
*.log

# Ignore variables file
variables.json
